@import "../../../styles/vars";
@import "../../../styles/mixins";

.signin {
  background: radial-gradient(circle at 50% 130%, rgba(88, 113, 242, 0.2) 2%, rgba(88, 113, 242, 0) 60%);

  &__container {
    padding-bottom: 106px;
    @include flexCol();
    flex-direction: column;

    @include lgScreenMedia {
      padding-bottom: 80px;
    }

    @include mdScreenMedia {
      padding-bottom: 60px;
    }

    @include smScreenMedia {
      padding-bottom: 50px;
    }
  }

  &__title {
    margin-bottom: 15px;

    @include smScreenMedia {
      margin-bottom: 20px;
    }
  }

  &__text {
    text-align: center;
    margin-bottom: 66px;

    @include mdScreenMedia {
      margin-bottom: 45px;
    }

    @include smScreenMedia {
      margin-bottom: 35px;
    }
  }
}
