@import "../../../styles/vars";
@import "../../../styles/mixins";

.mainInput {
  background-color: $color-input-bg;
  border-radius: 10px;
  padding: 16px;
  @include setFont(16px, 400);
  border: none;
  outline: none;
  transition: $transition;
  width: 100%;

  &:hover, &:focus{
    outline: 1px solid $color-main;
    background-color: #101320;
  }

  &::placeholder {
    color: #585859;
  }

  &_invalid {

  }
  &_withIcon {
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 17px 50%;
    padding-left: 50px;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus{
    border: none;
    background-image: inherit;
    -webkit-text-fill-color: $color-white;
    padding-left: 16px;
    -webkit-box-shadow: 0 0 0px 1000px #101320 inset;
    transition: $transition;
  }
}
