// medias

$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1282px;

// colors
$bg-color: #0A0C1A;
$bg-transparent-color: rgba(0, 0, 0, 0.58);
$black-color: #070911;
$blue-bold-color: #0D1124;
$main-color: #5871F2;
$red-color: #FF4040;
$red-bold-color: #2F0F1F;
$green-color: #144231;
$grey-color: #A5A5BB;
$main-color: #5871F2;


$color-black: #0F0F0F;
$color-black-transparent: #28292b80;
$color-blue: #2A99E8;
$color-white: #FFFFFF;
$color-red: #D60000;
$color-green: #0EB862;
$color-grey: #636364;
$color-grey-light: #E0E0E0;

$container-padding: 16px;

$font-fam-def: 'SuisseIntl', sans-serif;
$transition: all .5s