@import "../../../styles/vars";
@import "../../../styles/mixins";


.arbitrageList {
  margin-top: 15px;
  padding: 40px;
  background-color: $color-black-bold;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 16px;
  gap: 25px;

  @include xlScreenMedia {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mdScreenMedia {
    grid-template-columns: 1fr;
  }

  @include smScreenMedia {
    gap: 15px;
    padding: 0 0 20px;
    background-color: transparent;
  }
}